<!-- <h2 class="bg-info">hello hi</h2>
<img src="/assets/images/pickmyday-removebg-preview.png" alt=""> -->

<!-- <app-login></app-login> -->
<!-- <h2 routerLink="/login">login</h2>
<h2 routerLink="/home">home</h2> -->
<div class="container-fluid mainheader d-flex justify-content-between">
    <div>
        <img src="/assets/images/pickmyday-removebg-preview.png" alt="Logo">
    </div>
    <div class="d-flex align-items-center pe-5">
        <ul class="d-flex gap-5">
            <li routerLink="/">Home</li>
            <li routerLink="/movies">Movies</li>
            <li routerLink="/travel">Travel</li>
            <li routerLink="/sports">Sports</li>
            <li routerLink="/logout">Logout</li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>