<div class="container-fluid">
    <div class="main-bg">
        <div class="d-flex pt-4">
            <div class="col-5 p-3 main-recent">
                <h4 class="">Offers!!</h4>
                <hr style="color: red;">
                <img class="me-2 ms-2" style="height: 200px; width: 230px;" src="/assets/images/offer-1.jpeg" alt="">
                <img class="" style="height: 200px; width: 230px;" src="/assets/images/offer-2.jpeg" alt="">
                <hr>
                <img class="me-2 ms-3" style="height: 300px; width: 450px;" src="/assets/images/offer-3.jpeg" alt="">

            </div>
            <div class="col-2">
                <div class="d-flex justify-content-center">
                    <span class="material-symbols-outlined" style="font-size: 120px;">
                        tv_signin
                    </span>
                </div>
                <div>
                    <h6 class="text-center">Welcome back !</h6>
                    <h4 class="text-center">Ranjith Kumar</h4>
                </div>
            </div>
            <div class="col-5 p-3 main-recent">
                <h4>Recent Bookings</h4>
                <hr style="color: red;">
                <img class="me-3 ms-5" style="height: 200px; width: 200px;" src="/assets/images/recent-1.avif" alt="">
                <img class="" style="height: 200px; width: 200px;" src="/assets/images/recent-2.avif" alt="">
                <hr>
                <img class="me-3 ms-5" style="height: 200px; width: 200px;" src="/assets/images/recent-3.webp" alt="">
                <img class="" style="height: 200px; width: 200px;" src="/assets/images/recent-4.jpeg" alt="">

            </div>
        </div>
        
    </div>

</div>