<div class="container-fluid p-3">
    <h3 class="pt-4">Godzilla x Kong: The New Empire (3D Tamil) - Tamil</h3>
    <hr>
    <div class="d-flex justify-content-end mb-3">
        <h6 class="pe-2 pt-1" style="color: green;">Select Booking Day</h6>
        <input type="date">
    </div>

    <h5>AGS Cinemas OMR: Navlur</h5>
    <div class="d-flex pt-2">
        <span class="material-symbols-outlined pe-3" style="color: green;">
            phone_android
        </span>
        <h6 class="pe-5" style="color: green;">M-Ticket</h6>
        <span class="material-symbols-outlined pe-3" style="color:orange">
            fastfood
        </span>
        <h6 class="pe-5" style="color: orange;">Food & Beverage</h6>
        <span class="material-symbols-outlined pe-3" style="color: red;">
            cancel_presentation
        </span>
        <h6 class="pe-5" style="color: green;">Non-cancellable</h6>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: rgb(186, 186, 186); margin-top: -18px;">
        <h6>5:00PM</h6>
        <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>6:45PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: green; margin-top: -18px;">
            <h6>7:30PM</h6>
            <h6 style="font-size: 10px;">DOLBY 7.1</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>10:00PM</h6>
            <h6 style="font-size: 10px;">4K/LASER</h6>
        </button>
    </div>
    <hr>
    <h5>INOX: The Marina Mall, OMR</h5>
    <div class="d-flex pt-2">
        <span class="material-symbols-outlined pe-3" style="color: green;">
            phone_android
        </span>
        <h6 class="pe-5" style="color: green;">M-Ticket</h6>
        <span class="material-symbols-outlined pe-3" style="color:orange">
            fastfood
        </span>
        <h6 class="pe-5" style="color: orange;">Food & Beverage</h6>
        <span class="material-symbols-outlined pe-3" style="color: red;">
            cancel_presentation
        </span>
        <h6 class="pe-5" style="color: green;">Non-cancellable</h6>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: green; margin-top: -18px;">
        <h6>5:00PM</h6>
        <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>6:45PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>10:00PM</h6>
            <h6 style="font-size: 10px;">4K/LASER</h6>
        </button>
    </div>
    <hr>
    <h5>Kasi Talkies Dolby Atmos: Ashok Nagar</h5>
    <div class="d-flex pt-2">
        <span class="material-symbols-outlined pe-3" style="color: green;">
            phone_android
        </span>
        <h6 class="pe-5" style="color: green;">M-Ticket</h6>
        <span class="material-symbols-outlined pe-3" style="color:orange">
            fastfood
        </span>
        <h6 class="pe-5" style="color: orange;">Food & Beverage</h6>
        <span class="material-symbols-outlined pe-3" style="color: red;">
            cancel_presentation
        </span>
        <h6 class="pe-5" style="color: green;">Non-cancellable</h6>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: green; margin-top: -18px;">
        <h6>5:00PM</h6>
        <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: rgb(191, 191, 191); margin-top: -18px;">
            <h6>6:45PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>7:30PM</h6>
            <h6 style="font-size: 10px;">DOLBY 7.1</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: rgb(191, 191, 191); margin-top: -18px;">
            <h6>10:00PM</h6>
            <h6 style="font-size: 10px;">4K/LASER</h6>
        </button>
    </div>
    <hr>
    <h5>MAYAJAAL Multiplex: ECR, Chennai</h5>
    <div class="d-flex pt-2">
        <span class="material-symbols-outlined pe-3" style="color: green;">
            phone_android
        </span>
        <h6 class="pe-5" style="color: green;">M-Ticket</h6>
        <span class="material-symbols-outlined pe-3" style="color:orange">
            fastfood
        </span>
        <h6 class="pe-5" style="color: orange;">Food & Beverage</h6>
        <span class="material-symbols-outlined pe-3" style="color: red;">
            cancel_presentation
        </span>
        <h6 class="pe-5" style="color: green;">Non-cancellable</h6>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
        <h6>5:00PM</h6>
        <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>6:45PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: rgb(191, 191, 191); margin-top: -18px;">
            <h6>7:30PM</h6>
            <h6 style="font-size: 10px;">DOLBY 7.1</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>10:00PM</h6>
            <h6 style="font-size: 10px;">4K/LASER</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>10:30PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
    </div>
    <hr>
    <h5>Rohini Silver Screens: Koyambedu</h5>
    <div class="d-flex pt-2">
        <span class="material-symbols-outlined pe-3" style="color: green;">
            phone_android
        </span>
        <h6 class="pe-5" style="color: green;">M-Ticket</h6>
        <span class="material-symbols-outlined pe-3" style="color:orange">
            fastfood
        </span>
        <h6 class="pe-5" style="color: orange;">Food & Beverage</h6>
        <span class="material-symbols-outlined pe-3" style="color: red;">
            cancel_presentation
        </span>
        <h6 class="pe-5" style="color: green;">Non-cancellable</h6>
        <button class="btn ticket-button pb-0 me-2" style="color: green; margin-top: -18px;">
        <h6>5:00PM</h6>
        <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>6:45PM</h6>
            <h6 style="font-size: 10px;">4K DOLBY ATMOS</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: green; margin-top: -18px;">
            <h6>7:30PM</h6>
            <h6 style="font-size: 10px;">DOLBY 7.1</h6>
        </button>
        <button routerLink="/seat-booking" class="btn ticket-button pb-0 me-2" style="color: red; margin-top: -18px;">
            <h6>10:00PM</h6>
            <h6 style="font-size: 10px;">4K/LASER</h6>
        </button>
    </div>

</div>