<div class="container-fluid">
    <h2 class="fst-italic text-success mt-5 text-center">welcome to travel booking</h2>
    <div class="row mt-5">
        <div class="col-3">
        </div>
        <div class="col-6 d-flex justify-content-around">
          <div>
            <div class="card" style="width: 18rem;">
              <img src="/assets/images/bus.png" class="card-img-top bus" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bus</h5>
                <p class="card-text">Booking your seat and enjoy with Travelling .</p>
                <a routerLink="/bus-booking" class="btn btn-success">book your seat</a>
              </div>
            </div>
          </div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/car.jpeg" class="card-img-top car" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Car</h5>
                  <p class="card-text">Booking your seat and enjoy with Travelling.</p>
                  <a routerLink="/bus-booking" class="btn btn-success">book your car</a>
                </div>
              </div>
        </div>
        <div class="col-3"></div>
      
    </div>
</div>

