.movie_home{
  height: 100%  !important;
}
.hover-btn:hover{
color: green;
opacity: .5;
}
.contain{
width:500px ;
aspect-ratio: 2;
position: absolute;
transform: translate(-120%,-95%);
top: 50%;
left: 50%;
overflow: hidden;
border: 20px solid rgb(37, 37, 37);
border-radius: 8px;
box-shadow: 10px 25px 30px rgba(30, 30,200, 0.3);
}
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
.state{
  margin-top: 22rem;
}

@keyframes slide{
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(-25%);
  } 
  30%{
    transform:translateX(-50%);
  }
  50%{
    transform:translateX(-75%);
  }
  55%{
    transform:translateX(-100%);
  }
  75%{
    transform:translateX(-150%);
  }
  80%{
    transform:translateX(-200%);
  }
  100%{
    transform:translateX(-230%);
  }
}