<div class="d-flex p-2">
    <div class="col-4 d-flex align-items-center justify-content-center">
        <label class="pe-3" style="color: rgb(252, 111, 72);">Select Your City *</label>
        <select name="" id="">
            <option value="" routerLink="/movies-list">Chennai</option>
            <option value="" routerLink="/movies-list">Coimbature</option>
            <option value="">Madurai</option>
            <option value="">Tiruvannamalai</option>
            <option value="">Vellore</option>
            <option value="">Salem</option>
            <option value="">Tiruppur</option>
            <option value="">Erode</option>
        </select>
    </div>
    <h1 routerLink="/movies-list">click</h1>
    <div class="col-8">
        <img class="movie_home img-fluid" src="assets/images/movie_home.png" alt="movie_home">
    </div>
</div>